.venv
.idea
__pycache__/
2b_kimono.glb
aiease_1753106626225.jpg
plugins/models/capybarahermes-2.5-mistral-7b.Q3_K_M.gguf
plugins/models/saiga_mistral_7b.Q3_K_M.gguf
core/speaker/bark-small
core/speaker/Dora.pth
core/speaker/dora.py
core/speaker/added_IVF967_Flat_nprobe_1_v2.index
